# Hiroki OS - GRUB Yapılandırması (ISO)
# Sakura 1.0 - BIOS/UEFI için

set default="0"
set timeout=10

# Hiroki renkleri
set menu_color_normal=white/black
set menu_color_highlight=white/#E91E8C

# Tema (varsa)
if [ -f /boot/grub/themes/hiroki/theme.txt ]; then
  set theme=/boot/grub/themes/hiroki/theme.txt
fi

# Arkaplan
if [ -e /boot/grub/themes/hiroki/background.png ]; then
  background_image /boot/grub/themes/hiroki/background.png
fi

menuentry "Hiroki OS'u Dene (Live)" --class hiroki --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS cow_spacesize=2G
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Hiroki OS'u Kur (Calamares)" --class hiroki --class gnu-linux {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS cow_spacesize=2G calamares_autostart
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Hiroki OS (Güvenli Grafik Modu - nomodeset)" --class hiroki {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS nomodeset cow_spacesize=2G
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Donanım Bilgisi (HDT)" --class hiroki {
  linux16 /boot/memtest86+/memtest.bin
}

menuentry "Bellek Testi (MemTest86+)" --class memtest {
  linux16 /boot/memtest86+/memtest.bin
}

menuentry "Yeniden Başlat" --class reboot {
  reboot
}

menuentry "Kapat" --class shutdown {
  halt
}
