# Hiroki OS - Syslinux Yapılandırması (BIOS)
# Sakura 1.0
DEFAULT arch
UI vesamenu.c32
MENU TITLE Hiroki OS 1.0 Sakura
MENU BACKGROUND splash.png
TIMEOUT 100
MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #9033ccff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #30ffffff #00000000 std

LABEL arch
TEXT HELP
Hiroki OS Live ortamını başlatır (XFCE varsayılan)
ENDTEXT
MENU LABEL Hiroki OS'u Dene (Live)
KERNEL /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
APPEND initrd=/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS cow_spacesize=2G
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img

LABEL arch_calamares
TEXT HELP
Doğrudan Calamares kurulumuna başlar
ENDTEXT
MENU LABEL Hiroki OS'u Kur
KERNEL /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
APPEND initrd=/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS calamares_autostart cow_spacesize=2G

LABEL arch_nomodeset
TEXT HELP
Grafik sorunlarında güvenli mod (nomodeset)
ENDTEXT
MENU LABEL Guvenli Grafik Modu
KERNEL /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
APPEND initrd=/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img archisobasedir=%INSTALL_DIR% archisolabel=HIROKI_OS nomodeset cow_spacesize=2G

LABEL memtest
MENU LABEL Bellek Testi (MemTest86+)
KERNEL /boot/memtest86+/memtest.bin

LABEL hdt
MENU LABEL Donanim Bilgisi (HDT)
KERNEL /%INSTALL_DIR%/boot/syslinux/hdt.c32

LABEL reboot
MENU LABEL Yeniden Baslat
COM32 reboot.c32

LABEL poweroff
MENU LABEL Kapat
COM32 poweroff.c32
